.wrap {
    display: flex;
    

}

.Panel_Menu {
    
    font-size: 25px;
    width: 160px;
    text-align: center;
    
    
}

a {
    text-decoration: none;
    color: inherit;
}

#Menu {
    width: 250px;
}
